/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Feb 2020, 2:57:32 PM
    Author     : gemini1991
*/
.content-pane {
    -fx-background-color: #ffffff;
}
.main-toggle {
    -fx-background-radius: 0;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}
.main-toggle:selected {
    -fx-background-color: #cccccc;
    -fx-text-fill: #000000;
}
.main-toggle-v1 {
    -fx-background-color: #15807e;
}
.main-toggle-v2 {
    -fx-background-color: #199487;
}
.main-toggle-v3 {
    -fx-background-color: #1da381;
}
.main-toggle-v4 {
    -fx-background-color: #50b88e;
}

.text-title {
    -fx-font-size: 32px;
    -fx-text-fill: #333333;
}

.text-24px {
    -fx-font-size: 24px;
}

.text-16px{
    -fx-font-size: 16px;
}

.text-14px {
    -fx-font-size: 14px;
}

.text-12px {
    -fx-font-size: 12px;
}

.count-box {
    -fx-background-radius: 8px;
}

.count-box .label {
    -fx-text-fill: #ffffff;
}

.count-box-v1 {
    -fx-background-color: #50b88e;
}

.mlabel {
    -fx-text-fill: #999999;
}

/*
    Table Styles
*/
.table-cell-right-align {
    -fx-alignment: CENTER-RIGHT;
}
.table-cell-center-align {
    -fx-alignment: CENTER;
}

/*
    Dialogs
*/
.dialog-header-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.dialog-content-text {
    -fx-font-size: 14px;
}
.dialog-button-group {
    -fx-background-color: #e1e1e1;
}

/*
    List Cell Style
*/
.list-column-1 {
    -fx-background-color: #ffffff;
}

.list-column-2 {
    -fx-background-color: #e1e1e1;
}

/*
    Notice Form
*/
.notice-form {
    -fx-background-color: #50b88e;
}
.notice-content-group {
    -fx-background-color: #ffffff;
    -fx-background-radius: 16px;
}
.notice-text {
    -fx-font-size: 24px;
    -fx-text-fill:#eb7171;
    -fx-font-weight: bold;
}
.notice-table {
    
}
.notice-table .column-header,
.notice-table .column-header .filler,
.notice-table .column-header-background .filler {
    -fx-background-color: #50b88e;
}
.notice-table .table-cell,
.notice-table .table-cell .filler,
.notice-table .virtual-flow .table-row-cell:focused:odd:empty {
    -fx-background-color: #ffffff;
}